<strong>Recuperando senha</strong>

<p>Uma Solicitação de recuração de senha foi realizada para o e-mail ({{ email }}). Se você não foi o autor da requisição, efetue a alteração da sua senha para garantir a sua segurança.</p>

<p>Para efetuar a recuração de sua senha, utilize o token {{ token }} ou clique no link abaixo:</p>

<a href="{{ link }}">CRIAR NOVA SENHA</a>
